{{ define "templates/server/edit.html" }}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>SYS | Register Server</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../templates/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../templates/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../templates/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../templates/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../templates/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../templates/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../templates/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../templates/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../templates/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../templates/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../templates/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../templates/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../templates/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../templates/assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="../templates/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="../templates/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="../templates/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="../templates/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="../templates/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="../templates/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="../templates/assets/css/colors/default.css" rel="stylesheet">
    <style type="text/css">
      .input-select-tag{
          background-color: #FFFFFF;
          boder: 1px solid #F1F1F1;
          height: 36px;
          width: 450px;
      }
      .selected-tags{
          padding: 2px;
      }
      .button{
          float: left;
          padding: 5px;
          margin-left: 2px;
      }
      .input{
          float: left;
          border: #FFFFFF;
          margin-left: 2px;
          padding: 5px;
      }
      .clear{
          clear: both;
      }
    </style>
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span><
              span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SYS</a>
          </div>
        </div>
          
      </nav>
      <div class="main">
        <section class="module bg-dark-30 about-page-header" data-background="../templates/assets/images/registration-bg.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">modify server</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h4 class="font-alt mb-0">registration form</h4>
                <hr class="divider-w mt-10 mb-20">
                <form 
                      id="frm_modify"
                      class="form" 
                      role="form" 
                      method="post" 
                      action="execute_modify">
                  <input type="hidden" name="txtIdServer" value="{{.Server.Id}}">

                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Data Center</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="cbDCId">
                        {{ range $dc := .DCs }}
                        <option id="{{$dc.Id}}" value="{{$dc.Id}}">{{$dc.Description}}</option>
                        {{ end }}
                      </select>
                  </div>

                  <div class="form-group">
                    <label for="txtRack">Rack</label>
                    <input class="form-control input-lg"
                           type="text"
                           placeholder="number of disks"
                           id="txtRack"
                           name="txtRack"
                           value="{{.Server.Rack.Description}}"/>
                  </div>

                  <div class="form-group">
                    <label for="txtUStart">U Start</label>
                    <input class="form-control input-lg"
                           type="text"
                           placeholder="number of disks"
                           id="txtUStart"
                           name="txtUStart"
                           value="{{.Server.UStart.Description}}"/>
                  </div>

                  <div class="form-group">
                    <label for="txtUEnd">U End</label>
                    <input class="form-control input-lg"
                           type="text"
                           placeholder="number of disks"
                           id="txtUEnd"
                           name="txtUEnd"
                           value="{{.Server.UEnd.Description}}"/>
                  </div>

                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Port Type</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="cbPortTypeId">
                        {{ range $types := .PortTypes }}
                          <option id="{{$types.Id}}" value="{{$types.Id}}">{{$types.Description}}</option>
                        {{ end }}
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Status</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="cbServerStatusId">
                        {{ range $state := .ServerStates }}
                          <option id="{{$state.Id}}" value="{{$state.Id}}">{{$state.Description}}</option>
                        {{ end }}
                      </select>
                  </div>
                  <div id="switchArea">
                  {{ $switchArr := .SwitchArr }}
                  {{ $cables := .Cables }}
                  {{ range $i, $connectedSwitches := .ConnectedSwitches }}
                    <div class="panel panel-default">
                      <div class="panel-heading">Switch Connection</div>
                      <div class="panel-body">
                        <div class="form-group">
                          <label for="cbSwitch0">Switch</label>
                          <select class="form-control" id="cbSwitch{{ $i }}">
                            {{ range $switch := $switchArr }}
                              <option 
                                id="{{ $switch.Id }}" 
                                value="{{ $switch.Id }}"
                                {{ if eq $connectedSwitches.Switch.Id $switch.Id }}
                                selected
                                {{ end }}>
                                {{ $switch.DC.Description }} + {{ $switch.Rack.Description }} + [{{ $switch.UStart.Description }} - {{ $switch.UEnd.Description }}]
                              </option>
                            {{ end }}
                          </select>
                        </div>

                        <div class="form-group">
                            <label for="cbSwitch">Switch-Server Connection Cable</label>
                            <select class="form-control" id="cbCab{{ $i }}">
                              {{ range $cables }}
                                <option
                                  id="{{ .Id }}"
                                  value="{{ .Id }}"
                                  {{ if eq $connectedSwitches.SwitchConnection.CableTypeId .Id }} selected {{ end }}>
                                 {{ .Name }} - {{ .SignPort }}
                                </option>
                              {{ end }}
                            </select>
                        </div>

                        <div class="form-group">
                          <label for="txtPort{{ $i }}">Switch Port:</label>
                          <input
                              id="txtPort{{ $i }}"
                              class="form-control input-lg"
                              type="text"
                              placeholder="Switch connection port"
                              name="txtPort"
                              value="{{ $connectedSwitches.SwitchConnection.Port }}"/>
                        </div>
                      </div>
                    </div>
                  {{ end }}
                  </div>

                  <div class="form-group">
                    <button 
                            type="button"
                            class="btn btn-primary" 
                            onclick="add_switch()">Add Switch
                    </button>
                  </div>

                  <input type="hidden" id="txtSwitch" name="txtSwitch">

                  <div class="form-group">
                    <label for="txtSSD">SSD</label>
                    <input class="form-control input-lg" 
                        type="text" 
                        placeholder="number of disks"
                        name="txtSSD"
                        value="{{.Server.SSD}}"/>
                  </div>

                  <div class="form-group">
                    <label for="txtHDD">HDD</label>
                    <input class="form-control input-lg" 
                        type="text" 
                        placeholder="number of disks"
                        name="txtHDD"
                        value="{{.Server.HDD}}"/>
                  </div>

                  <div class="form-group">
                    <label for="txtNumDisks">Maker</label>
                    <input class="form-control input-lg" 
                        type="text" 
                        placeholder="Maker"
                        name="txtMaker"
                        value="{{.Server.Maker}}"/>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Serial Number</label>
                    <input class="form-control input-lg" type="text" name="txtSerialNumber" value="{{.Server.SerialNumber}}"/>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Tagged</label>
                        <div class='control-group'>
                          <div class='input-select-tag'>
                            <div class='selected-tags' 
                                  id='taggedarea'>
                            {{ range .Tagged }}
                                <span class='alert button alert-info'
                                      onclick='move_tag(this, "taggedarea", "untaggedarea")'>
                                  {{ .Title }}
                                </span> 
                            {{ end }}
                            </div> 
                            <div class='clear'></div>
                          </div>
                        </div>
                  </div>
                  <h1></h1>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Untagged</label>
                      <div class='form-horizontal well'>
                        <div class='control-group'>
                          <div class='input-select-tag'>
                            <div class='selected-tags' 
                                id='untaggedarea'>
                              {{ range .Untagged }}
                                <span 
                                    class='alert button alert-info'
                                    onclick='move_tag(this, "untaggedarea", "taggedarea")'>
                                    {{ .Title }}
                                </span> 
                                {{ end }}
                            </div> 
                            <div class='clear'></div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <h1></h1><h1></h1><h1></h1>

                  <div class="form-group">
                    <label for="txtRedfishIp">iDrac/iLo</label>
                    <input class="form-control input-lg"
                           type="text"
                           name="txtRedfishIp"
                          value="{{ .Server.RedfishIp }}"/>
                  </div>

                  <div class="form-group" id="ipArea">
                    <label for="ipArea">Ip Addresses:</label>
                    {{ range .Server.IpAddrs }}
                    <div class="form-group">
                      <input class="form-control input-lg"
                             type="text"
                              value="{{.Octet1}}.{{.Octet2}}.{{.Octet3}}.{{.Octet4}}"/>
                    </div>
                    {{ end }}
                  </div>

                  <input type="hidden" id="txtAllIp" name="txtAllIp">
                  <input type="hidden" id="txtAllTag" name="txtAllTag">               

                  <div class="form-group">
                      <div>
                        <button 
                              type="button" 
                              class="form-control btn btn-primary"
                              onclick="add_ip_address()">
                              Add Ip
                        </button>
                      </div>
                  </div>

                  <div class="form-group" id="hwConfigArea">
                    <div class="panel panel-default">
                      <div class="panel-heading">HARDWARE CONFIGURATION</div>
                      <div class="panel-body">
                        <div class="form-group">
                          <label for="txtCluster">Cluster</label>
                          <input type="hidden" name="txtCluster" value="">
                          <select class="form-control">
                            {{ range .HardwareTemplate.Clusters }}
                            <option value="{{ .Id }}">{{ .Name }}</option>
                            {{ end }}
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="txtChassis">Chassis</label>
                          <input type="hidden" name="txtChassis" value="">
                          <select class="form-control">
                            {{ range .HardwareTemplate.Chassis }}
                            <option value="{{ .Id }}">{{ .Information }}</option>
                            {{ end }}
                          </select>
                        </div>

                        <div class="form-group" id="cpuArea">
                          <div class="col-sm-9">
                            <label for="txtCluster">CPU</label>
                            <input type="hidden" name="txtCluster" value="">
                            <select class="form-control">
                              {{ range .HardwareTemplate.CPUs }}
                              <option value="{{ .Id }}">{{ .Information }}</option>
                              {{ end }}
                            </select>
                          </div>
                          <div class="col-sm-3">
                            <label for="txtNumDisks">Number</label>
                            <input class="form-control input-sm"
                                   type="text"
                                   name="txtMaker"/>
                          </div>
                          <button type="button" class="form-control btn btn-primary btn-sm" onclick="add(this)">add cpu</button>
                        </div>

                        <div class="form-group">
                          <div class="col-sm-9">
                            <label for="txtCluster">RAM</label>
                            <input type="hidden" name="txtCluster" value="">
                            <select class="form-control">
                              {{ range .HardwareTemplate.RAMs }}
                              <option value="{{ .Id }}">{{ .Information }}</option>
                              {{ end }}
                            </select>
                          </div>
                          <div class="col-sm-3">
                            <label for="txtNumDisks">Number</label>
                            <input class="form-control input-sm"
                                   type="text"
                                   name="txtMaker"/>
                          </div>

                          <button type="button" class="form-control btn btn-primary btn-sm">add ram</button>
                        </div>

                        <div class="form-group">
                          <div class="col-sm-9">
                            <label for="txtCluster">Disk</label>
                            <input type="hidden" name="txtCluster" value="">
                            <select class="form-control">
                              {{ range .HardwareTemplate.Disks }}
                              <option value="{{ .Id }}">{{ .Information }}</option>
                              {{ end }}
                            </select>
                          </div>
                          <div class="col-sm-3">
                            <label for="txtNumDisks">Number</label>
                            <input class="form-control input-sm"
                                   type="text"
                                   name="txtMaker"/>
                          </div>

                          <button type="button" class="form-control btn btn-primary btn-sm">add disk</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button"
                          class="form-control btn btn-primary"
                          onclick="addHwConfigArea()">add hardware config</button>

                  <div class="col-sm-4">
                    <button type="button" class="btn btn-primary" onclick="collect_ip()">save change</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </section>
      </div>
        <div class="module-small bg-dark"></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="../templates/assets/lib/jquery/dist/jquery.js"></script>
    <script src="../templates/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../templates/assets/lib/wow/dist/wow.js"></script>
    <script src="../templates/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="../templates/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="../templates/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="../templates/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="../templates/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../templates/assets/lib/smoothscroll.js"></script>
    <script src="../templates/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="../templates/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="../templates/assets/js/plugins.js"></script>
    <script src="../templates/assets/js/main.js"></script>
    <script type="text/javascript">

      function is_num(evt) {
        evt = (evt) ? evt : window.event
        var char_code = (evt.which) ? evt.which : evt.keyCode
        if (char_code > 31 && (char_code < 48 || char_code > 57)) {
          return false
        }

        return true
      }

      function select() {
        for (var idx = 0; idx < arguments.length; idx++) {
          var element = document.getElementById(arguments[idx])
          element.selected = true
        }
      }

      var num_ipaddrs = {{ len .Server.IpAddrs }}
      var list_ip = []

      function increase_num_ips() {
         num_ipaddrs = parseInt(num_ipaddrs) + 1
      }

      function submit_frm() {
        collect_ip()
        set_value("txtAllIp", list_ip)
        collect_tags()
        collect_switch()
        set_value("txtAllTag", tags)
        set_value("txtSwitch", ls_switch)
        get("frm_modify").submit()
      }

      function set_value(id, value) {
        get(id).value = value
      }

      var tags = []

      function move_tag(tag, src, des) {
        des_area = document.getElementById(des)
        title = tag.innerText
        des_area.innerHTML.trim()
        des_area.innerHTML +=
          "<span " +
            "class='alert button alert-info' " +
            "onclick='move_tag(" + "this, " + "\"" + des + "\"" + ", " + "\"" + src + "\"" + ")'>" +
            title +
          "</span>"

        remove_tag(tag)
      }

      function remove_tag(tag) {
        tag.parentNode.removeChild(tag)
      }

      function collect_tags() {
        childs = get("taggedarea").childNodes
        for (i = 1; i < childs.length; i++) {
          if (childs[i].innerText != null && childs[i].innerText != "")
          tags.push(childs[i].innerText)
        }
      }

      function add_switch() {
        document.getElementById("switchArea").appendChild(add_switch_connection())
      }

      function add_switch_connection() {
        panel = document.createElement("div")
        panel.setAttribute("class", "panel panel-default")
        panel.appendChild(create_panel_header())
        panel.appendChild(create_panel_body())
        num_switch += 1
        return panel
      }

      function create_panel_header() {
        header = document.createElement("div")
        header.setAttribute("class", "panel-heading")
        header.innerText = "Switch Connection"
        return header
      }

      function create_panel_body() {
        body = document.createElement("div")
        body.setAttribute("class", "panel-body")
        body.appendChild(create_cb_switch())
        body.appendChild(create_cb_cable_types())
        body.appendChild(create_input_port())
        return body
      }

      function create_cb_switch() {
        switch_cb = document.createElement("div")
        switch_cb.setAttribute("class", "form-group")

        label = document.createElement("label")
        label.setAttribute("for", "cbSwitch")
        label.innerText = "Switch"

        cb = document.createElement("select")
        cb.setAttribute("class", "form-control")
        cb.setAttribute("id", "cbSwitch" + String(num_switch))

        {{ range .SwitchArr }}
          option = document.createElement("option")
          option.setAttribute("value", "{{ .Id }}")
          option.innerText = "{{ .DC.Description }} + {{ .Rack.Description }} + [{{ .UStart.Description }} - {{ .UEnd.Description }}]"
          cb.appendChild(option)
        {{ end }}

        switch_cb.appendChild(label)
        switch_cb.appendChild(cb)

        return switch_cb
      }

      function create_cb_cable_types() {
        outer = document.createElement("div")
        outer.setAttribute("class", "form-group")

        label = document.createElement("label")
        label.setAttribute("for", "cbCable")
        label.innerText = "Switch-Server Connection Cable"

        cb = document.createElement("select")
        cb.setAttribute("class", "form-control")
        cb.setAttribute("id", "cbCab" + String(num_switch))

        {{ range .Cables }}
          option = document.createElement("option")
          option.setAttribute("value", "{{ .Id }}")
          option.innerText =  "{{ .Name }} - {{ .SignPort }}"
          cb.appendChild(option)
        {{ end }}

        outer.appendChild(label)
        outer.appendChild(cb)

        return outer
      }

      function create_input_port() {
        outer = document.createElement("div")
        outer.setAttribute("class", "form-group")

        label = document.createElement("label")
        label.innerText = "Switch Port"

        input = document.createElement("input")
        input.setAttribute("id", "txtPort" + String(num_switch))
        input.setAttribute("class", "form-control input-lg")
        input.setAttribute("type", "text")
        input.setAttribute("placeholder", "Switch connection port")

        outer.appendChild(label)
        outer.appendChild(input)

        return outer
      }

      var num_switch = {{ len .ConnectedSwitches }}
      var ls_switch = []

      function collect_switch() {
        for (i = 0; i < num_switch; i++) {
          val1 = document.getElementById("cbSwitch" + String(i)).options[document.getElementById("cbSwitch" + String(i)).selectedIndex].value
          val2 = document.getElementById("cbCab" + String(i)).options[document.getElementById("cbCab" + String(i)).selectedIndex].value
          val3 = document.getElementById("txtPort" + String(i)).value
          ls_switch.push(val1 + "-" + val2 + "-" + val3)
        }
      }

      select(
              "{{.Server.DC.Id}}",
              "{{.Server.Rack.Id}}",
              "{{.Server.UStart.Id}}S",
              "{{.Server.UEnd.Id}}E",
              "{{.Server.ServerStatus.Id}}",
              "{{.Server.PortType.Id}}"
            )

      let create = (e) => document.createElement(e)
      let set = (e, name, val) => e.setAttribute(name, value)
      let append = (e, control) => e.appendChild(control)
      let get = (id) => document.getElementById(id)

      function createHwConfigArea() {
        area = document.getElementById("hwConfigArea")

        area.appendChild(makeArea("chassisArea", "Chassis", "txtChassis", "add chassis"))
        area.appendChild(makeArea("cpuArea", "CPU", "txtCPU", "add cpu"))
        area.appendChild(makeArea("ramArea", "ram", "txtRam", "add ram"))
        area.appendChild(makeArea("hddArea", "hdd", "txtHdd", "add hdd"))
        area.appendChild(makeArea("raidArea", "raid", "txtRaid", "add raid"))
        area.appendChild(makeArea("nicArea", "nic", "txtNic", "add nic"))
        area.appendChild(makeArea("psuArea", "psu", "txtPsu", "add psu"))
        area.appendChild(makeArea("mntArea", "Management", "txtMnt", "add management"))
        area.appendChild(makeArea("warrantlyArea", "warrantly", "txtWarrantly", "add warrantly"))
      }

      function makeArea(id, lbl, inputId, btnName) {
        let area = document.createElement("div")
        area.setAttribute(id)

        area.appendChild(makeLabel(lbl, inputId))
        area.appendChild(makeInput(inputId))
        area.appendChild(makeBtnAddControl(btnName, area, makeInput(inputId)))

        area.appendChild(area)

        return area
      }

      function areaAddControl(area, control) {
        area.appendChild(control)
      }

      function makeLabel(content, forControl) {
        let lbl = document.createElement("label")
        lbl.innerText = content
        lbl.setAttribute("for", forControl)
        return lbl
      }

      function makeInput(name) {
        let div = document.createElement("div")
        div.setAttribute("class", "col-sm-10")

        let txt = document.createElement("input")
        txt.setAttribute("class", "form-control input-sm")
        txt.setAttribute("name", name)

        div.appendChild(txt)

        return div
      }

      function makeNumberInput(name) {
        let div = document.createElement("div")
        div.setAttribute("class", "col-sm-2")
        div.appendChild(makeLabel("Numbers", name))

        let input = document.createElement("input")
        input.setAttribute("class", "form-control input-sm")
        input.setAttribute("type", "text")
        input.setAttribute("name", name)

        div.appendChild(input)
        return div
      }

      function makeBtnAddControl(name, area, control) {
        let btn = document.createElement("button")

        btn.innerText = name
        btn.setAttribute("type", "button")
        btn.setAttribute("class", "form-control btn btn-primary")
        btn.setAttribute("onclick", "areaAddControl(" + area + ", " + control + ")")

        return btn
      }

      function addHwConfigArea() {
        let area = createHwConfigArea()
      }

      var list_ip = []

      function add_ip_address() {
        var ipArea = document.getElementById("ipArea")

        var divIp = document.createElement("div")
        divIp.setAttribute("class", "form-group")

        var inputIp = document.createElement("input")
        inputIp.setAttribute("class", "form-control input-lg")
        inputIp.setAttribute("type", "text")

        divIp.appendChild(inputIp)
        ipArea.appendChild(divIp)
      }

      function collect_ip() {
        let divs= document.getElementById("ipArea").getElementsByTagName("div")
        for (i = 0; i < divs.length; i++) {
          let inputs = divs[i].getElementsByTagName("input")
          for (j = 0; j < inputs.length; j++) {
            let ipValue = inputs[i].value
            if (null != ipValue) {
              list_ip.push(ipValue)
            }
          }
        }
      }
    </script>
  </body>
</html>
<script type="text/javascript">

</script>

{{ end }}