{{ define "templates/server/filter.html" }}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta Description="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>SYS | SERVERS</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../templates/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../templates/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../templates/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../templates/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../templates/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../templates/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../templates/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../templates/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../templates/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../templates/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../templates/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../templates/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../templates/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta Description="msapplication-TileColor" content="#ffffff">
    <meta Description="msapplication-TileImage" content="../templates/assets/images/favicons/ms-icon-144x144.png">
    <meta Description="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="../templates/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="../templates/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="../templates/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="../templates/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="../templates/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="../templates/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="../templates/assets/css/colors/default.css" rel="stylesheet">

      <style type="text/css">
    .input-select-tag{
    background-color: #FFFFFF;
    boder: 1px solid #F1F1F1;
    height: 36px;
    width: 450px;
}
.selected-tags{
    padding: 2px;
}
.button{
    float: left;
    padding: 5px;
    margin-left: 2px;
}
.input{
    float: left;
    border: #FFFFFF;
    margin-left: 2px;
    padding: 5px;
}
.clear{
    clear: both;
}
  </style>
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">SYS</a>
          </div>
      </nav>
      <div class="main">
        <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background="">
          <div class="container">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-5">
                <div class="alt-module-subtitle"><span class="holder-w"></span>
                  <h5 class="font-serif">{{.Title}}</h5><span class="holder-w"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h2 class="module-title font-alt mb-0">
                  RESULT FOR SEARCHING
                </h2>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row multi-columns-row">
            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
          <div class="card">
              <h3 class="card-header">Servers:</h3>
              <div class="card-body p-0">
                  <div class="table-responsive">
                      <table class="table">
                          <thead class="bg-light">
                              <tr class="border-0">
                                <th class="border-0">DC</th>
                                <th class="border-0">Rack</th>
                                <th class="border-0">UStart</th>
                                <th class="border-0">UEnd</th>
                                <th class="border-0">SSD</th>
                                <th class="border-0">HDD</th>
                                <th class="border-0">IP</th>
                                <th class="border-0">Maker</th>
                                <th class="border-0">Status</th>
                                <th></th>
                              </tr>
                          </thead>
                          <tbody id="tbody">
                          </tbody>
                      </table>

                    <div style="text-align:center;">
                      <input type="button" id="first" onclick="firstPage()" value="first" />
                      <input type="button" id="next" onclick="nextPage()" value="next" />
                      <input type="button" id="previous" onclick="prevPage()" value="previous" />
                      <input type="button" id="last" onclick="lastPage()" value="last" />
                    </div>
                    
                  </div>
              </div>
          </div>
      </div>
            </div>
          </div>
        </section>


    <script src="../templates/assets/lib/jquery/dist/jquery.js"></script>
    <script src="../templates/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../templates/assets/lib/wow/dist/wow.js"></script>
    <script src="../templates/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="../templates/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="../templates/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="../templates/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="../templates/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../templates/assets/lib/smoothscroll.js"></script>
    <script src="../templates/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="../templates/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="../templates/assets/js/plugins.js"></script>
    <script src="../templates/assets/js/main.js"></script>
    <script>
        let listServer = []
        const numberPerPage = 15
        let curStart = 0
        let curEnd = numberPerPage - 1
        let curPage = 1

        class Server {
            constructor(id, dc, rack, ustart, uend, ssd, hdd, ip, maker, status) {
                this.id = id
                this.dc = dc
                this.rack = rack
                this.ustart = ustart
                this.uend = uend
                this.ssd = ssd
                this.hdd = hdd
                this.ip = ip
                this.maker = maker
                this.status = status
            }
        }

        function makeListServer() {
            {{ range $i, $server := .Servers }}
            listServer.push(new Server(
                "{{ $server.Id }}",
                "{{ $server.DC.Description }}",
                "{{ $server.Rack.Description }}",
                "{{ $server.UStart.Description }}",
                "{{ $server.UEnd.Description }}",
                "{{ $server.SSD }}",
                "{{ $server.HDD }}",
                {{ $len := len .IpAddrs}}
            {{ if eq $len 0}}
            "UNKNOWN"
            {{ else }}
            {{ $ip := index .IpAddrs 0}}
            "{{ .MakeIpAddressStr $ip.IpNet.Value $ip.IpHost }}"
            {{ end }},
            "{{ .Maker }}",
                "{{ .ServerStatus.Description }}"))
            {{ end }}
        }

        function getNumberOfPages() {
            return Math.ceil(listServer.length / numberPerPage)
        }

        function nextPage() {
            curPage += 1
            curStart += numberPerPage
            curEnd += numberPerPage
            loadList()
        }

        function prevPage() {
            curPage -= 1
            curStart -= numberPerPage
            curEnd -= numberPerPage
            loadList()
        }

        function firstPage() {
            curPage = 1
            curStart = 0
            curEnd = numberPerPage - 1
            loadList()
        }

        function lastPage() {
            curPage = getNumberOfPages()
            while (curEnd < listServer.length) {
                curEnd += numberPerPage
                curStart += numberPerPage
            }
            loadList()
        }

        function loadList() {
            check()
            drawList()
        }

        function drawList() {
            const tbody = document.getElementById("tbody");
            tbody.innerHTML = ""

            for (let i = curStart; i <= curEnd && i < listServer.length; i++) {
                const tr = makeTrItem(listServer[i])
                tbody.appendChild(tr)
            }
        }

        function makeTrItem(server) {
            let create = (e) => document.createElement(e)
            let set = (e, n, v) => e.setAttribute(n, v)

            let tr = create("tr")

            let tdDc = create("td")
            tdDc.innerText = server.dc

            let tdRack = create("td")
            tdRack.innerText = server.rack

            let tdUStart = create("td")
            tdUStart.innerText = server.ustart

            let tdUEnd = create("td")
            tdUEnd.innerText = server.uend

            let tdSsd = create("td")
            tdSsd.innerText = server.ssd

            let tdHdd = create("td")
            tdHdd.innerText = server.hdd

            let tdIp = create("td")
            tdIp.innerText = server.ip

            let tdMaker = create("td")
            tdMaker.innerText = server.maker

            let tdStatus = create("td")
            tdStatus.innerText = server.status

            let tdMore = createTdMore(server)

            tr.appendChild(tdDc)
            tr.appendChild(tdRack)
            tr.appendChild(tdUStart)
            tr.appendChild(tdUEnd)
            tr.appendChild(tdSsd)
            tr.appendChild(tdHdd)
            tr.appendChild(tdIp)
            tr.appendChild(tdMaker)
            tr.appendChild(tdStatus)
            tr.appendChild(tdMore)

            return tr
        }

        function createTdMore(server) {
            let tdMore = document.createElement("td")

            let frm = document.createElement("form")
            frm.setAttribute("method", "post")
            frm.setAttribute("action", "modify")

            let input = document.createElement("input")
            input.setAttribute("type", "hidden")
            input.setAttribute("name", "txtIdServer")
            input.setAttribute("value", server.id)

            let a = document.createElement("a")
            a.setAttribute("onclick", "this.parentNode.submit()")
            a.innerText = "More"
            a.style.cursor = "pointer"
            a.style.color = "#0000ff"

            frm.appendChild(input)
            frm.appendChild(a)

            tdMore.appendChild(frm)

            return tdMore
        }

        function check() {
            document.getElementById("next").disabled = curPage === getNumberOfPages()
            document.getElementById("previous").disabled = curPage === 1
            document.getElementById("first").disabled = curPage === 1
            document.getElementById("last").disabled = curPage === getNumberOfPages()
        }

        function load() {
            makeListServer()
            loadList()
        }

        window.onload = load
    </script>
  </body>
</html>

{{ end }}