{{ define "templates/server/list_ip.html"}}
<form method="post" id=""frm>
    <table class="table">
        <thead class="bg-light">
        <tr class="border-0">
            <th class="border-0">Ip Address</th>
            <th class="border-0">State</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
    <div style="text-align:center;">
        <input type="button" id="first" onclick="firstPage()" value="first" />
        <input type="button" id="next" onclick="nextPage()" value="next" />
        <input type="button" id="previous" onclick="prevPage()" value="previous" />
        <input type="button" id="last" onclick="lastPage()" value="last" />
    </div>

</form>

<input type="hidden" id="txtIpStates" name="txtIpStates">
<button type="button" onclick="submit_frm()">Save change</button>

<script type="text/javascript">
    let listIp = []
    const numberPerPage = 20
    let curStart = 0
    let curEnd = numberPerPage
    let curPage = 1

    function getNumberOfPages() {
        return Math.ceil(listIp.length / numberPerPage)
    }

    function nextPage() {
        curPage += 1
        curStart += numberPerPage
        curEnd += numberPerPage
        loadList()
    }

    function prevPage() {
        curPage -= 1
        curStart -= numberPerPage
        curEnd -= numberPerPage
        loadList()
    }

    function firstPage() {
        curPage = 1
        curStart = 0
        curEnd = numberPerPage - 1
        loadList()
    }

    function lastPage() {
        curPage = getNumberOfPages()
        curStart = listIp.length - numberPerPage
        curEnd = numberPerPage - 1
        loadList()
    }

    function loadList() {
        drawList()
        check()
    }

    function drawList() {
        const tbody = document.getElementById("tbody");
        tbody.innerHTML = ""

        for (let i = curStart; i <= curEnd; i++) {
            const tr = makeTrItem(listIp[i])
            tbody.appendChild(tr)
        }
    }

    function makeTrItem(host) {
        const tr = document.createElement("tr")
        const input = makeInputNetId(host.netId)
        const tdHost = makeTdHost(host.host)
        const select = makeSelectState(host.state)

        tr.appendChild(input)
        tr.appendChild(tdHost)
        tr.appendChild(select)

        return tr
    }

    function makeInputNetId(netId) {
        const input = document.createElement("input");

        input.setAttribute("type", "hidden")
        input.setAttribute("name", "txtNetId")
        input.setAttribute("value", netId)

        return input
    }

    function makeTdHost(hostValue) {
        const td = document.createElement("td")
        td.innerText = hostValue
        return td
    }

    function makeSelectState(state) {
        const select = document.createElement("select")
        const availOpt = document.createElement("option")
        const usedOpt = document.createElement("option")

        availOpt.innerText = "Available"
        usedOpt.innerText = "Used"
        let tempOpt = state === "available" ? availOpt : usedOpt
        tempOpt.setAttribute("selected", true)

        select.appendChild(availOpt)
        select.appendChild(usedOpt)

        return select
    }

    function check() {
        document.getElementById("next").disabled = curPage === getNumberOfPages()
        document.getElementById("previous").disabled = curPage === 1
        document.getElementById("first").disabled = curPage === 1
        document.getElementById("last").disabled = curPage === getNumberOfPages()
    }

    function load() {
        makeListIp()
        loadList()
    }

    class IpHost {
        constructor(netId, host, state) {
            this.netId = netId
            this.host = host
            this.state = state
        }
    }

    function makeListIp() {
        {{ range .IpArr }}
        listIp.push(new IpHost("{{ .IpNet.Id }}", "{{ .Host }}", "{{ .State }}"))
        {{ end }}
    }

    function load() {
        makeListIp()
        loadList()
    }

    makeListIp()
    window.onload = load
</script>

<!--<script type="text/javascript">-->
<!--  var dict = []-->

<!--  function change_state(e) {-->
<!--    const ip = e.parentNode.firstElementChild.innerHTML-->
<!--    const state = e.options[e.selectedIndex].text-->
<!--    dict[ip] = state-->
<!--  }-->

<!--  function submit_frm() {-->
<!--    const res = document.getElementById("txtIpStates");-->

<!--    for (const key in dict) {-->
<!--      res.value += key + "-"  + dict[key] + ";"-->
<!--    }-->

<!--    const frm = document.getElementById("frm")-->
<!--    frm.submit()-->
<!--  }-->
<!--</script>-->

{{ end }}