{{ define "templates/server/list_ip_net.html" }}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta Description="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>SYS | SERVERS</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../templates/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../templates/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../templates/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../templates/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../templates/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../templates/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../templates/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../templates/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../templates/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../templates/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../templates/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../templates/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../templates/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta Description="msapplication-TileColor" content="#ffffff">
    <meta Description="msapplication-TileImage" content="../templates/assets/images/favicons/ms-icon-144x144.png">
    <meta Description="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="../templates/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="../templates/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="../templates/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="../templates/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="../templates/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="../templates/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="../templates/assets/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">SYS</a>
            </div>
        </div>
    </nav>
    <div class="main">
        <section class="module">
            <div  class="container-fluid">
                <div class="row">
                        <form id="frm_register"
                              class="form col-lg-2"
                              role="form"
                              method="post"
                              action="execute_register_ip">

                            <div class="form-group">
                                <label for="txtSSD">Ip Net</label>
                                <input class="form-control input-lg"
                                       type="text"
                                       placeholder="Ex: 42.118.242"
                                       id="txtNetwork"
                                       name="txtNetwork"/>
                            </div>

                            <div class="form-group">
                                <label for="txtHDD">Netmask</label>
                                <input class="form-control input-lg"
                                       type="text"
                                       placeholder="Ex: 26"
                                       id="txtNetmask"
                                       name="txtNetmask"/>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <button class="btn btn-warning" type="button" onclick="add_subnet()">Add subnet</button>
                                </div>
                            </div>
                        </form>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-5 col-md-7 col-sm-12 col-7">
                        <div class="card">
                            <h3 class="card-header" style="display: inline-block">SUBNET</h3>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="bg-light">
                                        <tr class="border-0 " >
                                            <th class="border-0">Subnet</th>
                                            <th class="border-0">Available</th>
                                            <th class="border-0">Used</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="subnetContent">
                                            {{ range .Portions }}
                                            <tr>
                                                <input type="hidden" value="{{ .Id }}">
                                                <td>{{ .Value }}/{{ .Netmask }}</td>
                                                <td>
                                                    <button type="button" onclick="filter_state_ips(this, 'available')">
                                                        {{ .NumAvailableHosts }}
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" onclick="filter_state_ips(this, 'used')">
                                                        {{ .NumUsedHosts }}
                                                    </button>
                                                </td>
                                                <td><button type="button" onclick="get_ips(this)" class="btn btn-primary">View</button></td>
                                                <td><button type="button" onclick="remove_ip(this)" class="btn btn-danger">Delete</button></td>
                                            </tr>
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <h3 class="card-header">DETAIL:</h3>
                        <div id="ipContent" style="text-align: center">
                            <form method="post" id="frm" action="/server/update_state_ip">
                                <input type="hidden" name="txtIpStates" id="txtIpStates">
                                <table class="table table-bordered">
                                    <thead class="bg-light">
                                    <tr class="">
                                        <th class=" " style="text-align: center">Ip Address</th>
                                        <th class=" " style="text-align: center">State</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody">

                                    </tbody>
                                </table>

                                <div style="text-align:center;" class="row">
                                    <input type="button" id="first" onclick="firstPage()" value="first" class="btn btn-dark"/>
                                    <input type="button" id="next" onclick="nextPage()" value="next" class="btn btn-light"/>
                                    <input type="button" id="previous" onclick="prevPage()" value="previous" class="btn btn-light"/>
                                    <input type="button" id="last" onclick="lastPage()" value="last" class="btn btn-dark"/>
                                </div>
                                <div type="form-control" style="margin-top: 30px">
                                    <button type="button" onclick="submit_frm()" class="btn btn-success">Save change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../templates/assets/lib/jquery/dist/jquery.js"></script>
            <script src="../templates/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="../templates/assets/lib/wow/dist/wow.js"></script>
            <script src="../templates/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
            <script src="../templates/assets/lib/isotope/dist/isotope.pkgd.js"></script>
            <script src="../templates/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
            <script src="../templates/assets/lib/flexslider/jquery.flexslider.js"></script>
            <script src="../templates/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
            <script src="../templates/assets/lib/smoothscroll.js"></script>
            <script src="../templates/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
            <script src="../templates/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
            <script src="../templates/assets/js/plugins.js"></script>
            <script src="../templates/assets/js/main.js"></script>
</body>
</html>

<script type="text/javascript">
    // Ajax Area

    const send_request = function(path) {
        const xhttp = new XMLHttpRequest() || ActiveXObject();

        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                addData(this.responseText)
            }
        }

        xhttp.open('GET', path, true);
        xhttp.send();
    }

    const addData = function (data) {
        // document.getElementById('ipContent').innerHTML = JSON.parse(data)[0].Id)
        load(data)
    }

    // End of Ajax Area

    // =================================================

    // Subnet Operation Area

    const get_ips = function (e) {
        const ip_value = e.parentNode
            .parentNode
            .firstElementChild
            .getAttribute("value")
        const path = '/server/list_ip?txtNetId=' + ip_value
        send_request(path)
    }

    const filter_state_ips = function (e, state) {
        const net_id = e.parentNode
            .parentNode
            .firstElementChild
            .getAttribute("value")
        const path = "/server/list_ip?txtFilter=" + state + "&txtNetId=" + net_id
        send_request(path)
    }

    const remove_ip = function (e) {
        sendRemoveIpReq(e)
        e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode)
    }

    const sendRemoveIpReq = function(e) {
        netId = e.parentNode
            .parentNode
            .firstElementChild.getAttribute("value")

        const xhttp = new XMLHttpRequest() || ActiveXObject();

        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                alert(this.responseText)
            }
        }

        xhttp.open("POST", "delete_ip", true)
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhttp.send("txtNetId=" + netId)
    }

    // End of Subnet Operation Area

    // ===================================================

    // Add Subnet Area

    const add_subnet = function() {
        let subnet = document.getElementById("txtNetwork").value
        let netmask = document.getElementById("txtNetmask").value

        document.getElementById("txtNetwork").value = ""
        document.getElementById("txtNetmask").value = ""

        const xhttp = new XMLHttpRequest() || ActiveXObject();

        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                subnetResponse(this.responseText)
            }
        }

        xhttp.open("POST", "execute_register_ip", true)
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhttp.send("txtNetwork=" + subnet + "&txtNetmask=" + netmask)
    }

    const subnetResponse = function(data) {
        let item = JSON.parse(data)
        alertResult(item.Msg)
        addSubnetItem(item)
    }

    const alertResult = function(msg) {
        alert (msg)
    }

    const addSubnetItem = function(item) {
        let content = document.getElementById("subnetContent")
        content.appendChild(trSubnet(item))
    }

    const trSubnet = function(item) {
        let tr = document.createElement("tr")
        tr.appendChild(inputIdSubnet(item.Id))
        tr.appendChild(tdSubnet(item.Value, item.Netmask))
        tr.appendChild(tdStateNums('available', item.NumAvailableHosts))
        tr.appendChild(tdStateNums('used', 0))
        tr.appendChild(tdBtn("view", "get_ips(this)", "btn btn-primary"))
        tr.appendChild(tdBtn("delete", "remove_ip(this)", "btn btn-danger"))
        return tr
    }

    const inputIdSubnet = function(id) {
        let input = document.createElement("input")
        input.setAttribute("type", "hidden")
        input.setAttribute("value", id)
        return input
    }

    const tdSubnet = function(subnet, netmask) {
        let td = document.createElement("td")
        let text = subnet + "/" + netmask
        td.innerText = text
        return td
    }

    const tdStateNums = function(state, num) {
        let td = document.createElement("td")
        let btn = btnStateNums(state, num)
        td.appendChild(btn)
        return td
    }

    const btnStateNums = function(state, num) {
        let btn = document.createElement("button")

        btn.setAttribute("type", "button")
        btn.setAttribute("onClick", "filter_state_ips(this, '" + state + "')")
        btn.innerText = num

        return btn
    }

    const tdBtn = function(name, operation, className) {
        let td = document.createElement("td")

        td.appendChild(btnOperate(name, operation, className))
        return td
    }

    const btnOperate = function(name, operation, className) {
        let btn = document.createElement("button")

        btn.innerText = name
        btn.setAttribute("type", "button")
        btn.setAttribute("onClick", operation)
        btn.setAttribute("class", className)

        return btn
    }

    // End of Add Subnet Area

    // ===================================================

    // Onchange Event Select Area

    let dict = []

    function change_state(e) {
        const ip = e.parentNode.childNodes[1].textContent
        dict[ip] = e.options[e.selectedIndex].text
    }

    function submit_frm() {
        const res = document.getElementById("txtIpStates");

        for (const key in dict) {
            res.value += key + "-" + dict[key] + ";"
        }

        const frm = document.getElementById("frm")
        frm.submit()
    }

    // End of Onchange Event

    // ====================================================

    // Pagination Area
    let listIp = []
    const numberPerPage = 15
    let curStart = 0
    let curEnd = numberPerPage
    let curPage = 1

    function initListIp(data) {
        listIp = JSON.parse(data)
    }

    function getNumberOfPages() {
        return Math.ceil(listIp.length / numberPerPage)
    }

    function nextPage() {
        curPage += 1
        curStart += numberPerPage
        curEnd += numberPerPage
        loadList()
    }

    function prevPage() {
        curPage -= 1
        curStart -= numberPerPage
        curEnd -= numberPerPage
        loadList()
    }

    function firstPage() {
        curPage = 1
        curStart = 0
        curEnd = numberPerPage - 1
        loadList()
    }

    function lastPage() {
        curPage = getNumberOfPages()
        while (curEnd < listIp.length) {
            curEnd += numberPerPage
            curStart += numberPerPage
        }
        loadList()
    }

    function loadList() {
        check()
        drawList()
        check()
    }

    function drawList() {
        const tbody = document.getElementById("tbody");
        tbody.innerHTML = ""

        for (let i = curStart; i <= curEnd; i++) {
            const tr = makeTrItem(listIp[i])
            tbody.appendChild(tr)
        }
    }

    function makeTrItem(host) {
        const tr = document.createElement("tr")
        const input = makeInputNetId(host.Id)
        const tdHost = makeTdHost([host.Octet1, host.Octet2, host.Octet3, host.Octet4].join("."))
        const select = makeSelectState(host)

        tr.appendChild(input)
        tr.appendChild(tdHost)
        tr.appendChild(select)

        return tr
    }

    function makeInputNetId(netId) {
        const input = document.createElement("input");

        input.setAttribute("type", "hidden")
        input.setAttribute("name", "txtNetId")
        input.setAttribute("value", netId)

        return input
    }

    function makeTdHost(hostValue) {
        const td = document.createElement("td")
        td.innerText = hostValue
        return td
    }

    function makeSelectState(host) {
        const select = document.createElement("select")
        select.setAttribute("class", "form-control" )
        select.setAttribute("onchange", "change_state(this)")

        const availOpt = document.createElement("option")
        const usedOpt = document.createElement("option")

        availOpt.innerText = "available"
        usedOpt.innerText = "used"
        let tempOpt = host.State === "available" ? availOpt : usedOpt
        tempOpt.setAttribute("selected", true)

        select.appendChild(availOpt)
        select.appendChild(usedOpt)

        return select
    }

    function check() {
        document.getElementById("next").disabled = curPage === getNumberOfPages()
        document.getElementById("previous").disabled = curPage === 1
        document.getElementById("first").disabled = curPage === 1
        document.getElementById("last").disabled = curPage === getNumberOfPages()
    }

    function load(data) {
        curPage = 1
        curStart = 0
        curEnd = numberPerPage - 1
        initListIp(data)
        loadList()
    }

    // End of Pagination Area
</script>

{{ end }}