{{ define "templates/server/list.html" }}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta Description="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>SYS | SERVERS</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../templates/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../templates/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../templates/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../templates/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../templates/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../templates/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../templates/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../templates/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../templates/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../templates/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../templates/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../templates/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../templates/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta Description="msapplication-TileColor" content="#ffffff">
    <meta Description="msapplication-TileImage" content="../templates/assets/images/favicons/ms-icon-144x144.png">
    <meta Description="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="../templates/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="../templates/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="../templates/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="../templates/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="../templates/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="../templates/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="../templates/assets/css/colors/default.css" rel="stylesheet">

      <style type="text/css">
    .input-select-tag{
    background-color: #FFFFFF;
    boder: 1px solid #F1F1F1;
    height: 36px;
    width: 450px;
}
.selected-tags{
    padding: 2px;
}
.button{
    float: left;
    padding: 5px;
    margin-left: 2px;
}
.input{
    float: left;
    border: #FFFFFF;
    margin-left: 2px;
    padding: 5px;
}
.clear{
    clear: both;
}
  </style>
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">SYS</a>
          </div>
        </div>
      </nav>
      <div class="main">
        <section class="module">
          <div class="container">
            <h3>Tags:</h3>
            <div class='control-group' style="cursor: pointer;">
              <div class='input-select-tag'>
                  <div class='selected-tags'>                     
                      <div>
                          {{ $dc := .DataCenter }}
                          {{ range .Tags }}
                            <form method="post"
                                  action="/server/list">
                              <input type="hidden" 
                                    name="txtTagId"
                                    value="{{.TagId}}">

                              <input type="hidden" 
                                    name="txtId"
                                    value="{{$dc.Id}}">

                              <span 
                                class='alert button alert-info'
                                onclick="this.parentNode.submit()"> 
                                    {{.Title}}
                              </span>       
                              </form>
                          {{ end }}
                    </div>

                      <input type='text' name='selectTags' class='input' size="40"/>   
                  </div> 
                   
                  <div class='clear'></div>
              </div>
            </div>

          <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
          <div class="card">
              <h3 class="card-header" id="txtNumServers">Servers: {{ len .Items }}</h3>
              <div class="card-body p-0">
                  <div class="table-responsive" id="page">
                      <table class="table">
                          <thead class="bg-light">
                              <tr class="border-0">
                                  <th class="border-0">Order</th>
                                  <th class="border-0">Rack</th>
                                  <th class="border-0">U</th>
                                  <th class="border-0">IP</th>
                                  <th class="border-0">iDrac/iLo</th>
                                  <th class="border-0">Server Function</th>
                                  <th class="border-0">Status</th>
                                  <th class="border-0">Serve</th>
                                  <th></th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody id="tbody">

                          </tbody>
                      </table>

                      <div style="text-align:center;">
                          <input type="button" id="first" onclick="firstPage()" value="first" />
                          <input type="button" id="next" onclick="nextPage()" value="next" />
                          <input type="button" id="previous" onclick="prevPage()" value="previous" />
                          <input type="button" id="last" onclick="lastPage()" value="last" />
                      </div>

                  </div>
              </div>
          </div>

      </div>
    </div>
  </section>
                

                
    <script src="../templates/assets/lib/jquery/dist/jquery.js"></script>
    <script src="../templates/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../templates/assets/lib/wow/dist/wow.js"></script>
    <script src="../templates/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="../templates/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="../templates/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="../templates/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="../templates/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../templates/assets/lib/smoothscroll.js"></script>
    <script src="../templates/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="../templates/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="../templates/assets/js/plugins.js"></script>
    <script src="../templates/assets/js/main.js"></script>
  </body>
</html>

<script type="text/javascript">
    // Ajax
    const send_request = function(e, server_id, path) {
        const xhttp = new XMLHttpRequest() || ActiveXObject();

        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                alert (this.responseText)
                remove_server(server_id)
                reorder()
                loadList()
                document.getElementById("txtNumServers").innerText = "Servers: " + listServer.length
            }
        }

        xhttp.open('GET', path, true);
        xhttp.send();
    }

    const remove_server = function(id) {
        listServer = listServer.filter(server => server.id != id)
    }

    const reorder = function() {
        for (var i = 0; i < listServer.length; i++) {
            listServer[i].order = i
        }
    }
    // End of Ajax

    let listServer = []
    const numberPerPage = 15
    let curStart = 0
    let curEnd = numberPerPage - 1
    let curPage = 1

    class Server {
        constructor(order, id, dc, rack, ustart, uend, ip, redfish_ip, cluster, status, serve_state) {
            this.order = order
            this.id = id
            this.dc = dc
            this.rack = rack
            this.ustart = ustart
            this.uend = uend
            this.ip = ip
            this.redfish_ip = redfish_ip
            this.function = cluster
            this.status = status
            this.serve_state = serve_state
        }
    }

    function makeListServer() {
        {{ $cluster := .ClusterServers }}
        {{ range $i, $server := .Items }}
            listServer.push(new Server(
                "{{ $i }}",
                "{{ $server.Id }}",
                "{{ $server.DC.Description }}",
                "{{ $server.Rack.Description }}",
                "{{ $server.UStart.Description }}",
                "{{ $server.UEnd.Description }}",
                {{ $len := len .IpAddrs }}
                {{ if eq $len 0}}
                "UNKNOWN"
                {{ else }}
                    {{ $ip := index .IpAddrs 0}}
                "{{ $ip.Octet1 }}.{{ $ip.Octet2 }}.{{ $ip.Octet3 }}.{{ $ip.Octet4 }}"
                {{ end }},
                "{{ $server.RedfishIp }}",
                "{{ index $cluster $i }}",
                "{{ .ServerStatus.Description }}",
                "{{ .ServeCustomer.Description }}"))
        {{ end }}
    }

    function getNumberOfPages() {
        return Math.ceil(listServer.length / numberPerPage)
    }

    function nextPage() {
        curPage += 1
        curStart += numberPerPage
        curEnd += numberPerPage
        loadList()
    }

    function prevPage() {
        curPage -= 1
        curStart -= numberPerPage
        curEnd -= numberPerPage
        loadList()
    }

    function firstPage() {
        curPage = 1
        curStart = 0
        curEnd = numberPerPage - 1
        loadList()
    }

    function lastPage() {
        curPage = getNumberOfPages()
        while (curEnd < listServer.length) {
            curEnd += numberPerPage
            curStart += numberPerPage
        }
        loadList()
    }

    function loadList() {
        check()
        drawList()
    }

    function drawList() {
        var tbody = document.getElementById("tbody")
        tbody.innerHTML = ""

        for (let i = curStart; i <= curEnd && i < listServer.length; i++) {
            const tr = makeTrItem(listServer[i])
            tbody.appendChild(tr)
        }
    }

    function makeTrItem(server) {
        let create = (e) => document.createElement(e)
        let set = (e, n, v) => e.setAttribute(n, v)

        let tr = create("tr")

        let tdOrder = create("td")
        tdOrder.innerText = server.order

        let tdRack = create("td")
        tdRack.innerText = server.rack

        let tdU = create("td")
        tdU.innerText = "[" + server.ustart + "-" + server.uend + "]"

        let tdIp = create("td")
        tdIp.innerText = server.ip

        let tdRedfishIp = create("td")
        tdRedfishIp.innerText = server.redfish_ip

        let tdServerFunction = create("td")
        tdServerFunction.innerText = server.function

        let tdStatus = create("td")
        tdStatus.innerText = server.status

        let tdServe = create("td")
        tdServe.innerText = server.serve_state

        let tdMore = createTdMore(server)

        let tdDelete = createTdDelete(server)

        tr.appendChild(tdOrder)
        tr.appendChild(tdRack)
        tr.appendChild(tdU)
        tr.appendChild(tdIp)
        tr.appendChild(tdRedfishIp)
        tr.appendChild(tdServerFunction)
        tr.appendChild(tdStatus)
        tr.appendChild(tdServe)
        tr.appendChild(tdMore)
        tr.appendChild(tdDelete)

        return tr
    }

    function createTdMore(server) {
        let tdMore = document.createElement("td")

        let frm = document.createElement("form")
        frm.setAttribute("method", "post")
        frm.setAttribute("action", "edit")

        let input = document.createElement("input")
        input.setAttribute("type", "hidden")
        input.setAttribute("name", "txtIdServer")
        input.setAttribute("value", server.id)

        let a = document.createElement("a")
        a.setAttribute("onclick", "this.parentNode.submit()")
        a.innerText = "More"
        a.style.cursor = "pointer"
        a.style.color = "#0000ff"

        frm.appendChild(input)
        frm.appendChild(a)

        tdMore.appendChild(frm)

        return tdMore
    }

    function createTdDelete(server) {
        let tdDelete = document.createElement("td")

        let input = document.createElement("input")
        input.setAttribute("type", "hidden")
        input.setAttribute("name", "txtServerId")
        input.setAttribute("value", server.id)

        let a = document.createElement("a")
        a.setAttribute("onclick", "send_request(this, '" + server.id + "',  '/server/delete?txtServerId=" + server.id + "')")
        a.innerText = "Delete"
        a.style.cursor = "pointer"
        a.style.color = "#0000ff"

        tdDelete.appendChild(input)
        tdDelete.appendChild(a)

        return tdDelete
    }

    function check() {
        document.getElementById("next").disabled = curPage === getNumberOfPages()
        document.getElementById("previous").disabled = curPage === 1
        document.getElementById("first").disabled = curPage === 1
        document.getElementById("last").disabled = curPage === getNumberOfPages()
    }

    function load() {
        makeListServer()
        loadList()
    }

    window.onload = load
</script>

{{ end }}