{{ define "templates/server/register.html" }}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>SYS | Register Server</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../templates/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../templates/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../templates/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../templates/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../templates/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../templates/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../templates/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../templates/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../templates/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../templates/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../templates/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../templates/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../templates/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../templates/assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="../templates/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="../templates/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="../templates/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="../templates/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/owl.carousel/dist/../templates/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../templates/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="../templates/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="../templates/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="../templates/assets/css/colors/default.css" rel="stylesheet">
    <style type="text/css">
      .input-select-tag{
          background-color: #FFFFFF;
          boder: 1px solid #F1F1F1;
          height: 36px;
          width: 450px;
      }
      .selected-tags{
          padding: 2px;
      }
      .button{
          float: left;
          padding: 5px;
          margin-left: 2px;
      }
      .input{
          float: left;
          border: #FFFFFF;
          margin-left: 2px;
          padding: 5px;
      }
      .clear{
          clear: both;
      }
    </style>
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">SYS</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
          </div>
        </div>
      </nav>
      <div class="main">
        <section class="module bg-dark-30 about-page-header" data-background="../templates/assets/images/registration-bg.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">registration server</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h4 class="font-alt mb-0">registration form</h4>
                <hr class="divider-w mt-10 mb-20">
                <form method="post" action="execute_register" class="form" role="form" id="frm_register">

                  <div class="form-group">
                      <label for="cbDC">Data Center</label>
                      <select class="form-control" 
                          id="cbDC"
                          name="cbDC">
                          {{ range .AllDataCenters}}
                            <option value="{{.Id}}">{{.Description}}</option>
                          {{ end }}
                      </select>
                  </div>

                  <div class="form-group">
                    <label for="txtRack">Rack</label>
                    <input class="form-control input-lg"
                           type="text"
                           placeholder="Rack"
                           id="txtRack"
                           name="txtRack"/>
                  </div>

                  <div class="form-group">
                    <label for="txtUStart">U Start</label>
                    <input class="form-control input-lg"
                           type="text"
                           placeholder="U Start"
                           id="txtUStart"
                           name="txtUStart"/>
                  </div>

                  <div class="form-group">
                    <label for="txtUEnd">U Start</label>
                    <input class="form-control input-lg"
                           type="text"
                           placeholder="U End"
                           id="txtUEnd"
                           name="txtUEnd"/>
                  </div>

                  <div class="form-group">
                      <label for="cbPortType">Port Type</label>
                      <select class="form-control" 
                          id="cbPortType"
                          name="cbPortType">
                          {{ range .AllPortTypes}}
                            <option value="{{.Id}}">{{.Description}}</option>
                          {{ end }}
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="cbServerState">Status</label>
                      <select class="form-control" 
                          id="cbServerState"
                          name="cbServerState">
                          {{ range .AllServerStates}}
                            <option value="{{.Id}}">{{.Description}}</option>
                          {{ end }}
                      </select>
                  </div>

                  <div class="form-group">
                    <label for="cdServeCustomer">PVKH</label>
                    <select class="form-control"
                            id="cbServeCustomer"
                            name="cbServeCustomer">
                      {{ range .AllServes}}
                      <option value="{{.Id}}">{{.Description}}</option>
                      {{ end }}
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="txtSerialNumber">Serial Number</label>
                    <input class="form-control input-lg" 
                        type="text" 
                        placeholder="Serial Number"
                        name="txtSerialNumber"/>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Tagged</label>
                        <div class='control-group'>
                          <div class='input-select-tag'>
                            <div class='selected-tags' 
                                  id='taggedarea'>
                            </div> 
                            <div class='clear'></div>
                          </div>
                        </div>
                    <div></div>
                  </div>
                  <h1></h1>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Untagged</label>
                      <div class='form-horizontal well'>
                        <div class='control-group'>
                          <div>
                            <div class='selected-tags'
                                id='untaggedarea'>
                              {{ range .Tags }}
                                <span 
                                    class='alert button alert-info'
                                    onclick='move_tag(this, "untaggedarea", "taggedarea")'>
                                    {{ .Title }}
                                </span> 
                                {{ end }}
                            </div> 
                            <div class='clear'></div>
                          </div>
                        </div>
                      </div>
                    <div></div>
                  </div>
                  <h1></h1> <h1></h1> <h1></h1>

                  <div class="form-group">
                    <label for="txtRedfishIp">iDrac/iLo</label>
                    <input class="form-control input-lg"
                           type="text"
                           name="txtRedfishIp"/>
                  </div>

                  <div class="form-group" id="ipArea">
                    <label for="ipArea">Ip Addresses:</label>
                    <div class="form-group">
                      <input class="form-control input-lg"
                             type="text"/>
                    </div>
                  </div>


                  <input type="hidden"
                          id="txtNumIp"
                          name="txtNumIp">

                  <div class="form-group row">
                    <div class="col-sm-4">
                      <button type="button"
                              class="form-control btn btn-primary"
                              onclick="add_ip_address()">
                              Add Ip
                      </button>
                    </div>
                  </div>

                <input type="hidden" id="txtAllIp" name="txtAllIp">
                <input type="hidden" id="txtAllTag" name="txtAllTag">

                <div class="form-group" id="hwConfigArea">
                  <div class="panel panel-default">
                    <div class="panel-heading">HARDWARE CONFIGURATION</div>
                    <div class="panel-body">
                      <div class="form-group" id="clusterArea">
                        <label for="clusterArea">Cluster</label>
                        <select id="cbCluster" name="cbCluster" class="form-control" onchange="change_cluster()">
                          {{ range .HardwareData.Clusters }}
                          <option id="{{ .Id }}" value="{{ .Id }}">{{ .Name }}</option>
                          {{ end }}
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="txtChassis">Chassis</label>
                        <input type="hidden" name="txtChassis" value="">
                        <select class="form-control" id="cbChassis" name="cbChassis">
                          {{ range .HardwareData.Chassis }}
                          <option id="{{ .Id }}" value="{{ .Id }}">{{ .Information }}</option>
                          {{ end }}
                        </select>
                      </div>

                      <div class="form-group" id="cpuArea">
                        <div id="cbCPUArea" class="col-sm-9">
                          <label for="txtCluster">CPU</label>
                          <input type="hidden" name="txtCluster" value="">
                          <select class="form-control" id="cbCPU">
                            {{ range .HardwareData.CPUs }}
                            <option id="{{ .Id }}" value="{{ .Id }}">{{ .Information }}</option>
                            {{ end }}
                          </select>
                        </div>
                        <div id="txtNumCpuArea" class="col-sm-3">
                          <label for="txtNumDisks">Number</label>
                          <input class="form-control input-sm"
                                 type="text"
                                 id="txtNumCPU"
                                 name="txtNumCPU"/>
                        </div>
                        <button type="button" class="form-control btn btn-primary btn-sm" onclick="add_component(this, 'cbCPUArea', 'txtNumCpuArea')">add cpu</button>
                      </div>

                      <div id="ramArea" class="form-group">
                        <div id="cbRAMArea" class="col-sm-9">
                          <label for="txtCluster">RAM</label>
                          <input type="hidden" name="txtCluster" value="">
                          <select class="form-control" id="cbRAM">
                            {{ range .HardwareData.RAMs }}
                            <option id="{{ .Id }}" value="{{ .Id }}">{{ .Information }}</option>
                            {{ end }}
                          </select>
                        </div>
                        <div id="txtNumRAMArea" class="col-sm-3">
                          <label for="txtNumDisks">Number</label>
                          <input class="form-control input-sm"
                                 type="text"
                                 id="txtNumRAM"
                                 name="txtNumRAM"/>
                        </div>

                        <button type="button" class="form-control btn btn-primary btn-sm" onclick="add_component(this, 'cbRAMArea', 'txtNumRAMArea')">add ram</button>
                      </div>

                      <div id="diskArea" class="form-group">
                        <div id="cbDiskArea" class="col-sm-9">
                          <label for="txtCluster">Disk</label>
                          <input type="hidden" name="txtCluster" value="">
                          <select class="form-control" id="cbDisk">
                            {{ range .HardwareData.Disks }}
                            <option id="{{ .Id }}" value="{{ .Id }}">{{ .Information }}</option>
                            {{ end }}
                          </select>
                        </div>
                        <div id="txtNumDiskArea" class="col-sm-3">
                          <label for="txtNumDisks">Number</label>
                          <input class="form-control input-sm"
                                 type="text"
                                 id="txtNumDisk"
                                 name="txtNumDisk"/>
                        </div>

                        <button id="btnAddDisk"
                                type="button"
                                class="form-control btn btn-primary btn-sm"
                                onclick="add_component(this, 'cbDiskArea', 'txtNumDiskArea')">add disk</button>
                      </div>

                      <div id="raidArea" class="form-group">
                        <div id="cbRaidArea" class="col-sm-9">
                          <label for="cbRaid">Raid</label>
                          <input type="hidden" name="txtCluster" value="">
                          <select class="form-control" id="cbRaid">
                            {{ range .HardwareData.Raids }}
                            <option id="{{ .Id }}" value="{{ .Id }}">{{ .Information }}</option>
                            {{ end }}
                          </select>
                        </div>
                        <div id="txtNumRaidArea" class="col-sm-3">
                          <label for="txtNumRaid">Number</label>
                          <input class="form-control input-sm"
                                 type="text"
                                 id="txtNumRaid"
                                 name="txtMumRaid"/>
                        </div>

                        <button id="btnAddRaid"
                                type="button"
                                class="form-control btn btn-primary btn-sm"
                                onclick="add_component(this, 'cbRaidArea', 'txtNumRaidArea')">add raid</button>
                      </div>

                      <div id="nicArea" class="form-group">
                        <div id="cbNicArea" class="col-sm-9">
                          <label for="txtCluster">Nic</label>
                          <input type="hidden" name="txtCluster" value="">
                          <select class="form-control" id="cbNic">
                            {{ range .HardwareData.NICs }}
                            <option id="{{ .Id }}" value="{{ .Id }}">{{ .Information }}</option>
                            {{ end }}
                          </select>
                        </div>
                        <div id="txtNumNicArea" class="col-sm-3">
                          <label for="txtNumNics">Number</label>
                          <input class="form-control input-sm"
                                 type="text"
                                 id="txtNumNic"
                                 name="txtNumNic"/>
                        </div>

                        <button id="btnAddNic"
                                type="button"
                                class="form-control btn btn-primary btn-sm"
                                onclick="add_component(this, 'cbNicArea', 'txtNumNicArea')">add Nic</button>
                      </div>

                      <div id="psuArea" class="form-group">
                        <div id="cbPsuArea" class="col-sm-9">
                          <label for="txtCluster">Psu</label>
                          <input type="hidden" name="txtCluster" value="">
                          <select class="form-control" id="cbPsu">
                            {{ range .HardwareData.PSUs }}
                            <option id="{{ .Id }}" value="{{ .Id }}">{{ .Information }}</option>
                            {{ end }}
                          </select>
                        </div>
                        <div id="txtNumPsuArea" class="col-sm-3">
                          <label for="txtNumPsus">Number</label>
                          <input class="form-control input-sm"
                                 type="text"
                                 id="txtNumPsu"
                                 name="txtNumPsu"/>
                        </div>

                        <button id="btnAddPsu"
                                type="button"
                                class="form-control btn btn-primary btn-sm"
                                onclick="add_component(this, 'cbPsuArea', 'txtNumPsuArea')">add Psu</button>
                      </div>

                      <div id="mntArea" class="form-group">
                        <div id="cbMntArea" class="col-sm-9">
                          <label for="txtCluster">Management</label>
                          <input type="hidden" name="txtCluster" value="">
                          <select class="form-control" id="cbMnt">
                            {{ range .HardwareData.Managements }}
                            <option id="{{ .Id }}" value="{{ .Id }}">{{ .Information }}</option>
                            {{ end }}
                          </select>
                        </div>
                        <div id="txtNumMntArea" class="col-sm-3">
                          <label for="txtNumMnts">Number</label>
                          <input class="form-control input-sm"
                                 type="text"
                                 id="txtNumMnt"
                                 name="txtNumMnt"/>
                        </div>

                        <button id="btnAddMnt"
                                type="button"
                                class="form-control btn btn-primary btn-sm"
                                onclick="add_component(this, 'cbMntArea', 'txtNumMntArea')">add Mnt</button>
                      </div>
                    </div>
                  </div>
                </div>

                <input type="hidden" id="txtAllCPUs" name="txtAllCPUs">
                <input type="hidden" id="txtAllRAMs" name="txtAllRAMs">
                <input type="hidden" id="txtAllDisks" name="txtAllDisks">
                <input type="hidden" id="txtAllNICs" name="txtAllNICs">
                <input type="hidden" id="txtAllRaids" name="txtAllRaids">
                <input type="hidden" id="txtAllPSUs" name="txtAllPSUs">
                <input type="hidden" id="txtAllMNTs" name="txtAllMNTs">

                <button class="form-control btn btn-primary" onclick="submit_frm()">Registry</button>


                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="../templates/assets/lib/jquery/dist/jquery.js"></script>
    <script src="../templates/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../templates/assets/lib/wow/dist/wow.js"></script>
    <script src="../templates/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="../templates/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="../templates/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="../templates/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="../templates/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../templates/assets/lib/smoothscroll.js"></script>
    <script src="../templates/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="../templates/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="../templates/assets/js/plugins.js"></script>
    <script src="../templates/assets/js/main.js"></script>

    <script>
      function is_num(evt) {
        evt = (evt) ? evt : window.event;
        var char_code = (evt.which) ? evt.which : evt.keyCode;
        if (char_code > 31 && (char_code < 48 || char_code > 57)) {
          return false;
        }
        return true
      }
    </script>
  </body>

  <script type="text/javascript">
      var num_ipaddrs = 1
      var list_ip = []
      var get = (id) => document.getElementById(id)

      function add_ip_address() {
        var ipArea = document.getElementById("ipArea")

        var divIp = document.createElement("div")
        divIp.setAttribute("class", "form-group")

        var inputIp = document.createElement("input")
        inputIp.setAttribute("class", "form-control input-lg")
        inputIp.setAttribute("type", "text")

        divIp.appendChild(inputIp)
        ipArea.appendChild(divIp)
      }

      function create_div_net(name) {
        let divNet = document.createElement("div")
        divNet.setAttribute("class", "col-sm-10")

        let lblNet = document.createElement("label")
        lblNet.innerText = "Ip Net"

        let selectNet = document.createElement("select")
        selectNet.setAttribute("class", "form-control")
        selectNet.setAttribute("id", name)
        selectNet.setAttribute("name", name)
        var opt = null
        divNet.appendChild(lblNet)
        divNet.appendChild(selectNet)

        return divNet
      }

      function create_div_host(hostname) {

        let divHost = document.createElement("div")
        divHost.setAttribute("class", "col-sm-2")

        let lblHost = document.createElement("label")
        lblHost.innerText = "Ip Host"

        let inputHost = document.createElement("input")
        inputHost.setAttribute("id", hostname)
        inputHost.setAttribute("class", "form-control input-sm")
        inputHost.setAttribute("type", "text")
        inputHost.setAttribute("placeholder", "Ex: 254")
        inputHost.setAttribute("onkeypress", "'return is_num(event)'")

        divHost.appendChild(lblHost)
        divHost.appendChild(inputHost)

        return divHost
      }

      function increase_num_ips() {
         num_ipaddrs = parseInt(num_ipaddrs) + 1
      }

      function submit_frm() {
        collect_ip()
        set_value("txtAllIp", list_ip)

        collect_tags()
        set_value("txtAllTag", tags)

        collect_component()
        get("frm_register").submit()
      }

      function collect_ip() {
        let inputs = document.getElementById("ipArea").getElementsByTagName("input")
        alert (inputs.length)
        for (i = 0; i < inputs.length; i++) {
          let ipValue = inputs[i].value
          if (null != ipValue) {
            list_ip.push(ipValue)
          }
        }
      }

      function set_value(id, value) {
        get(id).value = value
      }

      tags = []

      function move_tag(tag, src, des) {
        des_area = document.getElementById(des)
        title = tag.innerText
        des_area.innerHTML +=
          "<span " +
            "class='alert button alert-info' " +
            "onclick='move_tag(" + "this, " + "\"" + des + "\"" + ", " + "\"" + src + "\"" + ")'>" +
            title +
          "</span>"

        remove_tag(tag)
      }

      function remove_tag(tag) {
        tag.parentNode.removeChild(tag)
      }

      function collect_tags() {
        get("taggedarea")
              .childNodes
              .forEach(c => tags.push(c.innerHTML))
      }

      // Hardware Template events
      function add_component(e, select_id, input_id) {
        parent = e.parentNode
        select = document.getElementById(select_id).cloneNode(true)
        input_id = document.getElementById(input_id).cloneNode(true)

        parent.appendChild(select)
        parent.appendChild(input_id)
        parent.appendChild(e)
      }

      class HardwareConfig {
        constructor(chassis, cpu, ram, disk, nic, raid, mnt) {
          this.chassis = chassis
          this.cpu = cpu
          this.ram = ram
          this.disk = disk
          this.nic = nic
          this.raid = raid
          this.mnt = mnt
        }
      }


      var configs = {}
      var number_comp = {}

      function init_configs() {
        configs = {"cl0001": ['c00001', ['c00001'], ['r00001'],
            ['d00001', 'd00002', 'd00003'], ['n00001', 'n00002'],
            ['r00001'], ['m00001'], ['p00001']],
          "cl0002": ['c00001', ['c00001'], ['r00001'],
            ['d00001', 'd00002'], ['n00001', 'n00002'], ['r00001'], ['m00001', 'm00002', 'm00003'], ['p00001']],
          "cl0003": [['c00002'], ['c00002'], ['r00001'],
            ['d00002', 'd00003'], ['n00001', 'n00002'], ['r00001'], ['m00001', 'm00002', 'm00003'], ['p00001']],
          "cl0004": [['c00003'], ['c00001'], ['r00001'],
            ['d00002', 'd00003'], ['n00001', 'n00002'], ['r00001'], ['m00001', 'm00002', 'm00003'], ['p00001']],
          "cl0005": [['c00002'], ['c00002'], ['r00001'],
            ['d00002', 'd00003'], ['n00001', 'n00002'], ['r00001'], ['m00001', 'm00002', 'm00003'], ['p00001']],
          "cl0006": [['c00002'], ['c00002'], ['r00001'],
            ['d00002', 'd00003'], ['n00001', 'n00002'], ['r00001'], ['m00001', 'm00002', 'm00003'], ['p00001']],
          "cl0007": [['c00002'], ['c00002'], ['r00001'],
            ['d00002'], ['n00001', 'n00002'], ['r00001'], ['m00001', 'm00002', 'm00003'], ['p00001']],
          "cl0008": [['c00002'], ['c00002'], ['r00001'],
            ['d00002'], ['n00001', 'n00002'], ['r00001'], ['m00001', 'm00002', 'm00003'], ['p00001']],
          "cl0009": [['c00002'], ['c00002'], ['r00001'],
            ['d00002', 'd00003'], ['n00001', 'n00002'], ['r00001'], ['m00001', 'm00002', 'm00003'], ['p00001']]
        }
      }

      function init_number() {
        number_comp = {
          "cl0001": [1, [2], [4], [2, 6, 18], [1, 2], [1, 2], [1, 1, 1], [1]],
          "cl0002": [1, [2], [4], [2, 24], [1, 2], [1, 2], [1, 1, 1], [1]],
          "cl0003": [1, [2], [2], [2, 8], [1, 2], [1, 2], [1, 1, 1], [1]],
          "cl0004": [1, [2], [4], [2, 24], [1, 2], [1, 2], [1, 1, 1], [1]],
          "cl0005": [1, [2], [4], [2, 8], [1, 2], [1, 2], [1, 1, 1], [1]],
          "cl0006": [1, [2], [2], [2, 2], [1, 2], [1, 2], [1, 1, 1], [1]],
          "cl0007": [1, [2], [2], [2], [1, 2], [1, 2], [1, 1, 1], [1]],
          "cl0008": [1, [2], [4], [2], [1, 2], [1, 2], [1, 1, 1], [1]],
          "cl0008": [1, [2], [4], [2], [1, 2], [1, 2], [1, 1, 1], [1]],
          "cl0009": [1, [2], [4], [2, 2], [1, 2], [1, 1, 1], [1]]
        }
      }

      function change_cluster() {
        init_configs()
        init_number()

        const CHASSIS = 0
        const CPU = 1
        const RAM = 2
        const DISK = 3
        const NIC = 4
        const RAID = 5
        const MNT = 6
        const PSU = 7

        val = document.getElementById("cbCluster").value
        config = configs[val]
        number = number_comp[val]

        if (null == config) {
          return
        }

        area_append("cpuArea", config[CPU], "btnAddcpu", "cbCpuArea", "txtNumCpuArea")
        area_remove("cpuArea", config[CPU])
        set_select(document.getElementById("cpuArea").getElementsByTagName("select"), config[CPU])
        set_input(document.getElementById("cpuArea").getElementsByTagName("input"), number[CPU])

        area_append("ramArea", config[RAM], "btnAddRam", "cbRamArea", "txtNumRAMArea")
        area_remove("ramArea", config[RAM])
        set_select(document.getElementById("ramArea").getElementsByTagName("select"), config[RAM])
        set_input(document.getElementById("ramArea").getElementsByTagName("input"), number[RAM])

        area_append("diskArea", config[DISK], "btnAddDisk", "cbDiskArea", "txtNumDiskArea")
        area_remove("diskArea", config[DISK])
        set_select(document.getElementById("diskArea").getElementsByTagName("select"), config[DISK])
        set_input(document.getElementById("diskArea").getElementsByTagName("input"), number[DISK])

        area_append("nicArea", config[NIC], "btnAddNic", "cbNicArea", "txtNumNicArea")
        area_remove("nicArea", config[NIC])
        set_select(document.getElementById("nicArea").getElementsByTagName("select"), config[NIC])
        set_input(document.getElementById("nicArea").getElementsByTagName("input"), number[NIC])

        area_append("raidArea", config[RAID], "btnAddRaid", "cbRaidArea", "txtNumRaidArea")
        area_remove("raidArea", config[RAID])
        set_select(document.getElementById("raidArea").getElementsByTagName("select"), config[RAID])
        set_input(document.getElementById("raidArea").getElementsByTagName("input"), number[RAID])

        area_append("mntArea", config[MNT], "btnAddMnt", "cbMntArea", "txtNumMntArea")
        area_remove("mntArea", config[MNT])
        set_select(document.getElementById("mntArea").getElementsByTagName("select"), config[MNT])
        set_input(document.getElementById("mntArea").getElementsByTagName("input"), number[MNT])

        area_append("psuArea", config[PSU], "btnAddPsu", "cbPsuArea", "txtNumPsuArea")
        area_remove("psuArea", config[PSU])
        set_select(document.getElementById("psuArea").getElementsByTagName("select"), config[PSU])
        set_input(document.getElementById("psuArea").getElementsByTagName("input"), number[PSU])
      }

      function area_append(id, items, btn, cb, txt) {
        area = document.getElementById(id)
        while (area.getElementsByTagName("select").length < items.length) {
          add_component(document.getElementById(btn), cb, txt)
        }
      }

      function area_remove(id, items) {
        area = document.getElementById(id)
        while (area.getElementsByTagName("select").length > items.length) {
          area.removeChild(area.getElementsByTagName("select")[0].parentNode)
          area.removeChild(area.getElementsByTagName("input")[0].parentNode)
        }
      }

      function set_select(list_select, items) {
        for (var i = 0; i < list_select.length; i++) {
          list_select[i].value = items[i]
        }
      }

      function set_input(inputs, values) {
        value_idx = 0
        for (var i = 0; i < inputs.length; i++) {
          if (inputs[i].type != "hidden") {
            inputs[i].value = values[value_idx]
            value_idx += 1
          }
        }
      }

      function collect_component() {
        set_input_component("txtAllCPUs", "cpuArea", "cpuArea")
        set_input_component("txtAllRAMs", "ramArea", "ramArea")
        set_input_component("txtAllDisks", "diskArea", "diskArea")
        set_input_component("txtAllNICs", "nicArea", "nicArea")
        set_input_component("txtAllRaids", "raidArea", "raidArea")
        set_input_component("txtAllPSUs", "psuArea", "psuArea")
        set_input_component("txtAllMNTs", "mntArea", "mntArea")
      }

      function set_input_component(id, select_area_id, input_area_id) {
        var input = document.getElementById(id)
        var content = ""
        select_values = collect_select(select_area_id)
        input_values = collect_input(input_area_id)
        var contents = []

        for (var i = 0; i < select_values.length; i++) {
          contents.push(select_values[i] + "-" + input_values[i])
        }

        input.value = contents.join(",")
      }

      function collect_select(select_area_id) {
        var select_area = document.getElementById(select_area_id)
        var selects = select_area.getElementsByTagName("select")
        var selected_values = []

        for (var i = 0; i < selects.length; i++) {
          selected_values.push(selects[i].value)
        }

        return selected_values
      }

      function collect_input(input_area_id) {
        var input_area = document.getElementById(input_area_id)
        var inputs = input_area.getElementsByTagName("input")
        var input_values = []

        for (var i = 0; i < inputs.length; i++) {
          if ("hidden" != inputs[i].type) {
            input_values.push(inputs[i].value == "" ? 0 : inputs[i].value)
          }
        }

        return input_values
      }

      var changeEle = document.getElementById("cbCluster")
      var event = new Event('change')
      changeEle.dispatchEvent(event)
  </script>
</html>

{{ end }}